@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Grotesk:wght@300..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    padding: 0;
     margin: 0;
}
body{
    height: 100vh;
   font-family: "Rubik", sans-serif;
   font-optical-sizing: auto;
  font-weight:400 ;
  font-style: normal;
}

.container{
 position: relative;
 display: flex;
 align-content: center;
 background:hsl(270, 20%, 96%);
 height: 800px;
 
}
@media  (max-width:1024px){
    .container{
         display:grid;
          height: 800px;
    } 
}

.container .phone{
    font-weight:500;
    position: absolute;
    height: 610px;
    width: 310px;
     left:270px;
     top: 90px;
     background: hsl(270, 20%, 96%);
     border-radius: 30px;
}

.container .box-inset{
     position: absolute;
    height: 610px;
    width: 310px;
     left:270px;
     top: 90px;
     box-shadow: inset 0 0 0 15px rgb(255, 255, 255);
     border-radius: 30px;
     z-index: 10;
}
@media  (max-width:1024px){
    .container .phone{
            height: 610px;
         width: 310px;
         left:10px;
        top: -50px;
        scale: 0.7;
       
    }
    .container .box-inset{
      height: 610px;
    width: 310px;
     left:10px;
     top: -50px;
      scale: 0.7;
    }
}
.container .box-inset .white-box{
    height: 35px;
    width: 190px;
    margin: auto;
    border-radius: 30px;
    background: white;
}
.container .phone .box-profile{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 100px;
    gap: 10px;
    border-radius: 50px 50px 0px 0px;
     background: linear-gradient(to left , hsl(293, 100%, 63%),hsl(264, 100%, 61%)90%);
}

.container .phone .box-profile img{
    width: 28px;
    border-radius: 50%;
    border: solid white;
   
    margin-top: 40px;
}
.container .phone .box-profile .name{
     margin-top: 40px;
     color: white;
     scale: 0.9;
}
.container .phone .box-profile .name h1{
    font-size: 16px;
}
.container .phone .box-profile .name p{
    font-size: 13px;
    color: hsl(276, 100%, 81%);
}
    
.container .phone .box-profile .i{
    font-size: 16px;
    margin-top: 38px;
    margin-left: 30px;
    color: white;
}

.container .phone .box-profile  #doted {
    color: white;
     font-size: 16px;
     margin-left: 50px;
     margin-top: 40px;
}

.container .phone .message1 {
    
    width:100%;
    height: 140px;
}
.container .phone .message1 .msg1{
    width: 160px;
    height: 40px;
    background: hsl(276, 100%, 81%);
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 14px 14px 14px 0;
     line-height: 1.5;
    
}
.container .phone .message1 .msg1 p{
    font-size: 9px;
    padding: 10px;
     color: hsl(276, 55%, 52%);
}
.container .phone .message1 .msg2{
 width: 160px;
    height: 43px;
    background: hsl(276, 100%, 81%);
    margin-top: 10px;
     margin-left: 20px;
    border-radius: 14px 14px 14px 0;
     line-height: 1.5;
}
.container .phone .message1 .msg2 p{
    font-size: 9px;
    padding: 10px;
    color: hsl(276, 55%, 52%);
    
}


.container .phone .message2{
   
    height: 130px;
}
.container .phone .message2 .images{
    margin-left:150px ;
}
 .container .phone .message2 img{
    width: 40px;
    border-radius: 7px;
    margin-right: 5px;
 }
  
.container .phone .message2 .msg1{
   width: 150px;
    height: 40px;
    background: hsl(0, 0%, 100%);
    border-radius: 14px 14px 0px 14px;
    margin-left:140px ;
     line-height: 1.5;
}
.container .phone .message2 .msg1 p{
    font-size: 9px;
     padding: 10px;
      color: hsl(270, 7%, 64%);
}
.container .phone .message2 .msg2{
      width: 100px;
    height: 30px;
    background: hsl(0, 0%, 100%);
    border-radius: 14px 14px 0px 14px;
    margin-left:190px ;
    margin-top: 10px;
}
.container .phone .message2 .msg2 p{
    font-size: 9px;
     padding: 10px;
      color: hsl(270, 7%, 64%);
}


.container .phone .message3{
    width: 300px;
    height: 160px;
    
   
}

.container .phone .message3 .msg1{
    background: hsl(276, 100%, 81%);
     border-radius: 14px 14px 14px 0;
     width: 160px;
     height: 53px;
     margin-left: 20px;
      color: hsl(276, 55%, 52%);
}
.container .phone .message3 .msg1 p{
    font-size: 9px;
    line-height: 1.5;
      padding: 10px;
}

.container .phone .message3 .msg2{
     border-radius: 14px 14px 14px 0;
     width: 190px;
     height: 40px;
    color: white;
     margin-left: 20px;
     display: flex;
     align-items: center;
     gap: 5px;
     margin-top: 10px;
     background: linear-gradient(to right , hsl(293, 100%, 63%),hsl(264, 100%, 61%)90%);
 
}

.container .phone .message3 .msg2 p{
    font-size: 11px;
    margin-left: px;
    padding: 5px;
}
.container .phone .message3 .msg2 i{
   margin-left: 10px;
   font-size: 21px;
   opacity: .7;
  
}
.container .phone .message3 .msg2 p::after{
    content: "  $29";
    margin-left: 20px;
    font-size: 15px;
    
}



.container .phone .message3 .msg3{
     border-radius: 14px 14px 14px 0;
     width: 190px;
     height: 40px;
    color: white;
     margin-left: 20px;
     display: flex;
     align-items: center;
     gap: 5px;
     margin-top: 10px;
     background: linear-gradient(to right , hsl(293, 100%, 63%),hsl(264, 100%, 61%)90%);
 
}

.container .phone .message3 .msg3 p{
    font-size: 11px;
    margin-left: px;
    padding: 5px;
}
.container .phone .message3 .msg3 i{
   margin-left: 10px;
   font-size: 21px;
   opacity: .7;
  
}
.container .phone .message3 .msg3 p::after{
    content: "  $49";
    margin-left: 40px;
    font-size: 15px;
    
}

form{
  
    height: 35px;
    margin-bottom: 10px;
    display: flex;
     position: relative;
    
}

.container .phone input{
   margin: auto;
   margin-top: 7px;
   height: 20px;
   width: 250px;
   border-radius: 18px;
   border: none;
   padding:10px ;
   
}

form  i{
    position: absolute;
    font-size: 35px;
    right: 23px;
    top: 9px;
     color:  hsl(271, 36%, 24%);
}
.container .titles{
     color:  hsl(271, 36%, 24%);
    height: 200px;
    width: 450px;
    right: 50px;
    top: 300px;
    right: 60px;
    position: absolute;
    word-spacing: 2px;
}
@media  (max-width:1024px){
    .container .titles{
     height: 200px;
    width: 280px;
    right: 50px;
    top: 500px;
    right: 60px;
    position: absolute;
    }
}
.container .titles h1{
    font-weight: 500;
    line-height: 2.3;
}
.container .titles p{
    line-height: 1.5;
     opacity: 0.6;
}


.circle{
    width: 350px;
    height: 750px;
    background: linear-gradient(hsl(293, 100%, 63%),hsl(264, 100%, 61%)90%);
    border-radius: 0  0 300px 0;
}

@media  (max-width:1024px){
    .circle{
      width: 190px;
      height: 450px;
      margin-bottom: 350px;
    }
}


